Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

# Домашнее задание

In [2]:
import pandas as pd

## Задание 1 
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
movies_ratings = pd.read_csv('ml-25m/ratings.csv')
movies_ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [3]:
movies = pd.read_csv('ml-25m/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
# отфильтровать строки, в которых стоят оценки 5.0
movies_rating_5 = movies_ratings[movies_ratings['rating'] == 5.0]
movies_rating_5.head()

    userId  movieId  rating   timestamp
0        1      296     5.0  1147880044
2        1      307     5.0  1147868828
3        1      665     5.0  1147878820
8        1     1237     5.0  1147868839
18       1     2632     5.0  1147878248

In [11]:
# посчитать количество оценок 5.0 для каждого фильма
count_of_movies = movies_rating_5['movieId'].value_counts()
count_of_movies.head()

318     39553
296     32169
356     25918
260     25804
2571    25482
Name: movieId, dtype: int64

In [13]:
# вывести название и жанр фильма с наибольшим количеством оценок 5.0
movies[movies['movieId'] == 318]

     movieId                             title       genres
314      318  Shawshank Redemption, The (1994)  Crime|Drama

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [13]:
power = pd.read_csv('files_for_homework/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [16]:
# фильтр стран
find_counties = ((power['country'].str.contains('lat', case=False)) | (power['country'].str.contains('lit', case=False)) | (power['country'].str.contains('est', case=False)))

# фильтр категорий
power_categories = ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21))

# отфильтрованый датафр
filter_power = power[(2005 < power['year']) & (power['year'] < 2010) & power_categories & (power['quantity'] > 0) & find_counties]
filter_power.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
11156  Lithuania  2008       1.0         4
11158  Lithuania  2006       1.0         4
12755    Estonia  2008       1.0         4
13294  Lithuania  2008       1.0         4

In [15]:
# сумма потребления по отфильтрованому датафрейму
filter_power['quantity'].sum()

167335.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [11]:
currency_rates = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[0]
currency_rates

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 509,"1,3%",Nasdaq,13 399,"2,5%",Биткойн,56 722,"-1,9%",USD/RUB,734180,"0,1%"
1,РТС,1 505,"1,7%",S&P500,3 939,"1,0%",Нефть,695,"-0,1%",EUR/RUB,878305,"0,0%"
2,Dow,32 486,"0,6%",FTSE100,6 737,"0,2%",Золото,1 719,"-0,2%",EUR/USD,11966,"-0,2%"

In [10]:
currency_rates = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1].drop(columns='Unnamed: 0')
currency_rates

,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,GBP/RUB,1021186,-,1025822,"-0,45 %",-04636,21:25:00
1,EUR/RUB,876695,-,878555,"-0,21 %",-01860,21:25:00
2,USD/RUB,733605,-,733210,"0,05 %",00395,21:25:00
3,JPY/RUB,06728,-,06756,"-0,41 %",-00028,21:25:00
4,CNY/RUB,112720,-,112906,"-0,16 %",-00186,21:25:00
5,CHF/RUB,789993,-,792564,"-0,32 %",-02572,21:25:00
6,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,EUR/USD,11951,-,11986,"-0,29 %",-00035,21:25:00
8,EUR/GBP,08585,-,08567,"0,22 %",00019,21:25:00
9,EUR/JPY,1303115,-,1300550,"0,20 %",02565,21:25:00
10,EUR/CHF,11099,-,11080,"0,17 %",00019,21:25:00
11,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,USD/EUR,08369,-,08344,"0,29 %",00024,21:25:00
13,USD/GBP,07185,-,07148,"0,52 %",00038,21:25:00
14,USD/JPY,1090435,-,1085150,"0,49 %",05285,21:25:00
15,USD/CHF,09289,-,09249,"0,43 %",00040,21:25:00
16,Японская иена,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
17,JPY/EUR (100:1),07700,-,07700,"-0,19 %",00000,21:25:00
18,JPY/GBP,00066,-,00066,"0,02 %",00000,21:25:00
19,JPY/USD,00092,-,00092,"-0,48 %",00000,21:25:00
20,JPY/CHF (100:1),08500,-,08500,"-0,03 %",00000,21:25:00
21,Фунт стерлингов,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
22,GBP/USD,13919,-,13978,"-0,42 %",-00059,21:25:00
23,GBP/JPY,1517770,-,1518373,"-0,04 %",-00604,21:25:00
24,GBP/EUR,11648,-,11666,"-0,15 %",-00018,21:25:00
25,GBP/CHF,12928,-,12921,"0,05 %",00007,21:25:00
26,Швейцарский франк,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
27,GBP/CHF,12928,-,12921,"0,05 %",00007,21:25:00
28,EUR/CHF,11099,-,11080,"0,17 %",00019,21:25:00
29,JPY/CHF (100:1),08500,-,08500,"-0,03 %",00000,21:25:00
30,USD/CHF,09289,-,09249,"0,43 %",00040,21:25:00
31,Украинская гривна,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
32,EUR/UAH,331178,-,332330,"-0,35 %",-01152,21:25:00
33,USD/UAH,277125,-,277300,"-0,06 %",-00175,21:23:00
34,CHF/UAH,298369,-,299752,"-0,46 %",-01383,21:25:00
35,GBP/UAH,385730,-,387971,"-0,58 %",-02240,21:25:00